<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Task Manager</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/tasks.css">
	</head>
	<body>
		<div class="container-fluid px-0">
				<div class="row justify-content-md-center m-0">
					<div class="col-4 p-3 mt-3 rounded form-background">
				        <div class="row mx-0" id="signinBlock">
				            <div class="col px-0">
								<form  method="post" id="signinForm" action="/signin">
								  <div class="form-group">
								    <label for="email" class="transText">Email</label>
								    <input type="email" class="form-control" name="email" id="signinEmail">
									<div class="valid-feedback"></div>
									 <div class="invalid-feedback" id="signinEmailInvalid">
							            Wrong email!
							         </div>
								  </div>
								  <div class="form-group">
								    <label for="password" class="transText">Password</label>
								    <input type="password" class="form-control" name="password" id="signinPassword">
									<div class="valid-feedback" id="signinPasswordValid"></div>
									 <div class="invalid-feedback" id="signinPasswordInvalid"></div>
								  </div>
								</form>
								<button type="button" class="btn btn-secondary shadow-sm float-left" onclick="switchToSignUp()">Sign up</button>
								<button type="button" class="btn btn-success shadow-sm float-right" onclick="signin()">Sign in</button>
				            </div>
				        </div>
						<div class="row mx-0" id="signupBlock" style="display:none;">
				            <div class="col px-0">
								<form  method="post" id="signupForm" action="/signup">
								  <div class="form-group">
								    <label for="email" class="transText">Email</label>
								    <input type="email" class="form-control" name="email" id="signupEmail">
									<div class="valid-feedback"></div>
									 <div class="invalid-feedback" id="signupEmailInvalid">
							            Bad email. An example of a good email: 'email@mail.com'
							         </div>
								  </div>
								  <div class="form-group">
									    <label for="password" class="transText">Password</label>
									    <input type="password" class="form-control" name="password" aria-describedby="passwordHelpBlock" id="signupPassword">
										<div class="invalid-feedback">
										   Bad password!
										</div>
										<small id="passwordHelpBlock" class="form-text text-muted">
										  	Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces or special characters.
										</small>
										<div class="valid-feedback"></div>

								  </div>
								  <div class="form-group">
								    <label for="repeatPassword" class="transText">Repeat password</label>
								    <input type="password" class="form-control" name="repeatPassword" id="signupRepeatPassword">
									<div class="valid-feedback"></div>
									 <div class="invalid-feedback" id="signupRepeatPasswordInvalid">

							         </div>
								  </div>
								</form>
								<button type="button" class="btn btn-secondary shadow-sm float-left" onclick="switchToSignIn()">Sign in</button>
								<button type="button" class="btn btn-primary shadow-sm float-right" onclick="signup()">Sign up</button>
				            </div>
				        </div>
					</div>
				</div>
			</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="/javascripts/index.js"></script>
	</body>
</html>
