<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyToDo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
         body{
                background-image: url(https://www.americamagazine.org/sites/default/files/main_image/20171012T1221-0086-CNS-CALIFORNIA-FIRE.jpg);
                background-position: center;
                background-attachment: fixed;
                background-size: cover;
            }
			.form-background{
				background-color: rgba(241, 239, 239, 0.92);
			}
			#editDesc::-webkit-input-placeholder {
				color: rgba(222, 222, 222, 0.99);
			}
			#editDesc{
				background-color: rgba(99, 99, 99, 0.92);
				color: rgba(242, 242, 242, 1);
			}
			#email{
				background-color: rgba(222, 222, 222, 0.8);
			}
			#taskText{
				background-color: rgba(77, 77, 77, 0.95);
				color: rgba(242, 242, 242, 1);
			}
    </style>
</head>
<body>
